:root {
  --clr-splitter: darkgray;
  --clr-editor: darkgray;
  --clr-background: #fefefe;
  --clr-text:  #454a4e;
  --clr-viewer: white;
}

body {
  font-family: "Open Sans";
  background: var(--clr-background);
  color: var(--clr-text);
  margin: 0;
  padding: 0;
  height: 100vh;
  /* overflow: hidden; */
}

.app {
  height: 100%;
  margin: 0;
  background: var(--clr-background);
  padding-top: 7px;
}

.editor {
  width: 100%;
}

.viewer {
  height: 100%;
  width: 100%;
  background-color: var(--clr-viewer);
}


/** FLEX Splitter **/

flex {
  display: flex;
}

flex-item > flex {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fefefe;
}

flex.h {
  -ms-flex-direction: row;
  flex-direction: row;
}

flex.v {
  -ms-flex-direction: column;
  flex-direction: column;
}

flex-item {
  display: flex;
  position: relative;
  overflow: hidden;
}

flex > flex-resizer {
  -ms-flex: 0 0 8px;
  flex: 0 0 8px;
  background: var(--clr-splitter);
}

flex.h > flex-resizer {
  cursor: ew-resize;
}

flex.v > flex-resizer {
  cursor: ns-resize;
}


/** end FLEX Splitter **/